# Дирректории
__pycache__
.git
.idea
/venv
/DOC

# Файлы
*.docx
*.lnk
URL.txt
command.txt
temp.py

# Created by https://www.gitignore.io/api/backup
### Backup ###
*.bac
*.bak
*.gho
*.ori
*.orig
*.tmp
# End of https://www.gitignore.io/api/backup